
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{year}}1999, {{brand}}</h5>
    {{!-- <p class="card-text">{{}}</p> --}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{model}}benz</li>
    <li class="list-group-item">${{price}}</li>
    <li class="list-group-item">{{mileage}} mi</li>
  </ul>
  {{!-- <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div> --}}
</div>