<div class="card" style="width: 18rem;">
  <img src="{{image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{year}}, {{brand}}</h5>
    {{!-- <p class="card-text">{{}}</p> --}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{model}}</li>
    <li class="list-group-item">${{price}}</li>
    <li class="list-group-item">{{mileage}} mi</li>
    <li class="list-group-item">Name: {{user.name}}<br>Contact:{{user.email}}</li>

  </ul>
  {{!-- <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div> --}}
</div>