 <div class="card" style="width: 18rem;" >
        <img class="card-img-top" src="{{image}}" alt="Car Image">
        <div class="card-body">
            <h5 class="card-title">{{brand}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{model}}</li>
            <li class="list-group-item">{{year}}</li>
            <li class="list-group-item">Mileage: {{mileage}}mi</li>
            <li class="list-group-item">${{price}}</li>
        </ul>
        <div class="card-body">
            <button class="btn btn-primary delete-btn" data-update-id="{{{id}}}">Update</button>
            <button class="btn btn-primary delete-btn" data-delete-id="{{{id}}}">Delete</button>
        </div>
    </div>
