<div class="container dashboard-cars">
    {{#each cars as |car|}}
    <div class="card col-4" style="width: 18rem;">
        <img class="card-img-top" src="{{image}}" alt="Car Image">
        <div class="card-body">
            <h5 class="card-title">{{brand}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{brand}}</li>
            <li class="list-group-item">{{model}}</li>
            <li class="list-group-item">${{price}}</li>
            <li class="list-group-item">Mileage: {{mileage}} mi</li>
        </ul>
        <div class="card-body">
            <a class="btn btn-primary" href="/sale/update-car/{{{id}}}">Update</a>
            <button class="btn btn-primary">Delete</button>
        </div>
    </div>
    {{/each}}
</div>

<br><br><br>
<div class="container center-out">
    <a class="btn btn-primary" href="/sale/add-car">Add New Car listing</a>
</div>
<script src="./js/dashboard.js"></script>